html {
  scroll-behavior: smooth;
}

body
{
  background: #f0f2f1;
}
header
{
  background-image: url("../img/banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  width: 100%;
  box-shadow:  0px 3px 6px black;
}
.prod-img{
  box-shadow: inset 0px 0px 4px 0px black;
  background-image: url("../img/email.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 300px;
}

.vertical-center
{
  transform: translate(0%, 50%);
}


/*estilos para la paleta de colores*/


.esfera
{
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-top: 5px;
  cursor: pointer;
  overflow:hidden;
  float: left;
}


.bg-footer
{
  background: #2E4053;
  box-shadow: 0px -5px 11px 0px rgba(0,0,0,0.6);
}

.bg-leaf
{
  background-color: #58D68D ;
}

.bg-steel
{
  background-color: #34495E ;
}

.bg-orange
{
  background-color: #E67E22;
}

.bg-rose
{
  background-color: #AF7AC5;
}

.bg-bluedark
{
  background-color: #17202A;
}

.esfera.bg-primary:active 
{
  box-shadow: 0px 0px 0px 4px rgb(0, 123, 255, 0.5);
}
.esfera.bg-warning:active 
{
  box-shadow: 0px 0px 0px 4px rgb(255, 193, 7, 0.5);
}
.esfera.bg-success:active 
{
  box-shadow: 0px 0px 0px 4px rgb(40, 167, 69, 0.5);
}
.bg-leaf:active 
{
  box-shadow: 0px 0px 0px 4px rgb(88, 214, 141, 0.5);
}
.esfera.bg-info:active 
{
  box-shadow: 0px 0px 0px 4px rgb(23, 163, 184, 0.5);
}
.bg-rose:active 
{
  box-shadow: 0px 0px 0px 4px rgb(175, 122, 197, 0.5);
}
.bg-orange:active 
{
  box-shadow: 0px 0px 0px 4px rgb(230, 126, 34, 0.5);
}
.esfera.bg-danger:active 
{
  box-shadow: 0px 0px 0px 4px rgb(220, 53, 69, 0.5);
}
.bg-steel:active 
{
  box-shadow: 0px 0px 0px 4px rgb(52, 73, 94, 0.5);
}
.bg-bluedark:active 
{
  box-shadow: 0px 0px 0px 4px rgb(23, 32, 42, 0.5);
}